TimeKeeping/.vs/
TimeKeeping/TimeKeeping/TimeKeeping.csproj.user~20211217-037_ViewFeedbackTimeKeeping
TimeKeeping/TimeKeeping/bin/
TimeKeeping/TimeKeeping/obj/Debug/net5.0/project.razor.json
TimeKeeping/TimeKeeping/obj/Debug/
