TimeKeeping/.vs/TimeKeeping/DesignTimeBuild/.dtbcache.v2
TimeKeeping/TimeKeeping/bin/Debug/net5.0/AutoMapper.dll
TimeKeeping/TimeKeeping/bin/
TimeKeeping/TimeKeeping/obj/
*.user
TimeKeeping/.vs/TimeKeeping/v17/.futdcache.v1
TimeKeeping/.vs/TimeKeeping/v17/.suo
