@model TimeKeeping.Models.PersonnelApplyTimeOffPolicy

@{
    ViewData["Title"] = "Create";
}

<h1>Apply Timeoff policy for employee</h1>
<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--
                <div class="form-group">
                   <label asp-for="PersonnelId" class="control-label"></label>
                   <select asp-for="PersonnelId" class ="form-control" asp-items="ViewBag.PersonnelId"></select>
               </div>
               -->
            <div class="form-group">
                <label asp-for="Personnel.LastName" class="control-label"></label>
                <select name="LastName" class="form-control">
                    @{

                        foreach (var p in ViewBag.LastName)
                        {
                            <option>@p.PersonnelId-@p.LastName</option>
                        }
                    }
                </select>
            </div>
            <!--
                        <div class="form-group">
                            <label asp-for="TimeOffPolicyId" class="control-label"></label>
                            <select asp-for="TimeOffPolicyId" class="form-control" asp-items="ViewBag.TimeOffPolicyId"></select>
                        </div>
            -->
            <div class="form-group"> <!--the format like this: 001-Tuan -->
                <label asp-for="TimeOffPolicy.TimeOffPolicyName" class="control-label"></label>
                <select name="TimeOffPolicyName" class="form-control">
                    @{

                        foreach (var p in ViewBag.TimeOffPolicyName)
                        {
                            <option>@p.TimeOffPolicyId-@p.TimeOffPolicyName</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="EffectiveDate" class="control-label"></label>
                <input asp-for="EffectiveDate" class="form-control" />
                <span asp-validation-for="EffectiveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfDaysOffLastYear" class="control-label"></label>
                <input asp-for="NumberOfDaysOffLastYear" class="form-control" />
                <span asp-validation-for="NumberOfDaysOffLastYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfDaysOffStandard" class="control-label"></label>
                <input asp-for="NumberOfDaysOffStandard" class="form-control" />
                <span asp-validation-for="NumberOfDaysOffStandard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfDaysOffSeniority" class="control-label"></label>
                <input asp-for="NumberOfDaysOffSeniority" class="form-control" />
                <span asp-validation-for="NumberOfDaysOffSeniority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfDaysOffOffset" class="control-label"></label>
                <input asp-for="NumberOfDaysOffOffset" class="form-control" />
                <span asp-validation-for="NumberOfDaysOffOffset" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
