@model TimeKeeping.ViewModels.WorkScheduleModel

@{
	ViewData["Title"] = "Create new work schedule";
}

<link href="~/css/button-style.css" rel="stylesheet" />

<h4>Create new work schedule</h4>
<hr />
<div class="row">
	<div class="col-md-12">
		<form asp-action="Create" id="createWorkScheduleForm">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group row">
				<div class="col-2">
					<label asp-for="WorkScheduleName" class="control-label"></label>
				</div>
				<div class="col-5">
					<input asp-for="WorkScheduleName" class="form-control" rules="required" />
					<span asp-validation-for="WorkScheduleName" class="text-danger form-message"></span>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-2">
					<label asp-for="TypeWorkScheduleId" class="control-label"></label>
				</div>
				<div class="col-5">
					<select asp-for="TypeWorkScheduleId" asp-items="ViewBag.TypeWorkScheduleId" class="form-control" id="duration" name="duration" rules="required">
						<option value=""></option>
					</select>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-2">
					<label class="control-label">Work cycle on: </label>
				</div>

				<div class="col-10">
					<div class="form-group row">
						@*Monday*@
						<div class="col-2">
							<label class="control-label">Monday</label>
						</div>
						<div class="col-1">
							<input type="checkbox" id="mondayCheck" onclick="mondayFunction()" name="monday" />
						</div>
						<div id="mondayText" style="display:none" class="col-9">
							<div class="d-none" id="halfday-container-monday">
								<select class="form-control" name="monday-half">
									<option value="1">morning</option>
									<option value="2">afternoon</option>
								</select>
							</div>

							<div class="row justify-content-between d-none" id="specify-container-monday">
								<span>from</span>
								<div class="col-md-5">
									<select id="start-hour-monday" class="form-control" name="start-hour-monday">
									</select>
								</div>
								<span>to</span>
								<div class="col-md-5">
									<select id="end-hour-monday" class="form-control" name="end-hour-monday">
									</select>
								</div>
							</div>
						</div>
					</div>


					@*Tuesday*@
					<div class="form-group row">
						<div class="col-2">
							<label class="control-label">Tuesday</label>
						</div>
						<div class="col-1">
							<input type="checkbox" id="tuesdayCheck" onclick="tuesdayFunction()" name="tuesday" />
						</div>
						<div id="tuesdayText" style="display:none" class="col-9">
							<div class="d-none" id="halfday-container-tuesday">
								<select class="form-control" name="tuesday-half">
									<option value="1">morning</option>
									<option value="2">afternoon</option>
								</select>
							</div>

							<div class="row justify-content-between d-none" id="specify-container-tuesday">
								<span>from</span>
								<div class="col-md-5">
									<select id="start-hour-tuesday" class="form-control" name="start-hour-tuesday">
									</select>
								</div>
								<span>to</span>
								<div class="col-md-5">
									<select id="end-hour-tuesday" class="form-control" name="end-hour-tuesday">
									</select>
								</div>
							</div>
						</div>
					</div>


					@* Wednesday *@
					<div class="form-group row">
						<div class="col-2">
							<label class="control-label">Wednesday</label>
						</div>
						<div class="col-1">
							<input type="checkbox" id="wednesdayCheck" onclick="wednesdayFunction()" name="wednesday" />
						</div>
						<div id="wednesdayText" style="display:none" class="col-9">
							<div class="d-none" id="halfday-container-wednesday">
								<select class="form-control" name="wednesday-half">
									<option value="1">morning</option>
									<option value="2">afternoon</option>
								</select>
							</div>

							<div class="row justify-content-between d-none" id="specify-container-wednesday">
								<span>from</span>
								<div class="col-md-5">
									<select id="start-hour-wednesday" class="form-control" name="start-hour-wednesday">
									</select>
								</div>
								<span>to</span>
								<div class="col-md-5">
									<select id="end-hour-wednesday" class="form-control" name="end-hour-wednesday">
									</select>
								</div>
							</div>
						</div>
					</div>

					@* Thursday *@
					<div class="form-group row">
						<div class="col-2">
							<label class="control-label">Thursday</label>
						</div>
						<div class="col-1">
							<input type="checkbox" id="thursdayCheck" onclick="thursdayFunction()" name="thursday" />
						</div>
						<div id="thursdayText" style="display:none" class="col-9">
							<div class="d-none" id="halfday-container-thursday">
								<select class="form-control" name="thursday-half">
									<option value="1">morning</option>
									<option value="2">afternoon</option>
								</select>
							</div>

							<div class="row justify-content-between d-none" id="specify-container-thursday">
								<span>from</span>
								<div class="col-md-5">
									<select id="start-hour-thursday" class="form-control" name="start-hour-thursday">
									</select>
								</div>
								<span>to</span>
								<div class="col-md-5">
									<select id="end-hour-thursday" class="form-control" name="end-hour-thursday">
									</select>
								</div>
							</div>
						</div>
					</div>

					@* Friday *@
					<div class="form-group row">
						<div class="col-2">
							<label class="control-label">Friday</label>
						</div>
						<div class="col-1">
							<input type="checkbox" id="fridayCheck" onclick="fridayFunction()" name="friday" />
						</div>
						<div id="fridayText" style="display:none" class="col-9">
							<div class="d-none" id="halfday-container-friday">
								<select class="form-control" name="friday-half">
									<option value="1">morning</option>
									<option value="2">afternoon</option>
								</select>
							</div>

							<div class="row justify-content-between d-none" id="specify-container-friday">
								<span>from</span>
								<div class="col-md-5">
									<select id="start-hour-friday" class="form-control" name="start-hour-friday">
									</select>
								</div>
								<span>to</span>
								<div class="col-md-5">
									<select id="end-hour-friday" class="form-control" name="end-hour-friday">
									</select>
								</div>
							</div>
						</div>
					</div>

					@* Saturday *@
					<div class="form-group row">
						<div class="col-2">
							<label class="control-label">Saturday</label>
						</div>
						<div class="col-1">
							<input type="checkbox" id="saturdayCheck" onclick="saturdayFunction()" name="saturday" />
						</div>
						<div id="saturdayText" style="display:none" class="col-9">
							<div class="d-none" id="halfday-container-saturday">
								<select class="form-control" name="saturday-half">
									<option value="1">morning</option>
									<option value="2">afternoon</option>
								</select>
							</div>

							<div class="row justify-content-between d-none" id="specify-container-saturday">
								<span>from</span>
								<div class="col-md-5">
									<select id="start-hour-saturday" class="form-control" name="start-hour-saturday">
									</select>
								</div>
								<span>to</span>
								<div class="col-md-5">
									<select id="end-hour-saturday" class="form-control" name="end-hour-saturday">
									</select>
								</div>
							</div>
						</div>
					</div>

					@* Sunday *@
					<div class="form-group row">
						<div class="col-2">
							<label class="control-label">Sunday</label>
						</div>
						<div class="col-1">
							<input type="checkbox" id="sundayCheck" onclick="sundayFunction()" name="sunday" />
						</div>
						<div id="sundayText" style="display:none" class="col-9">
							<div class="d-none" id="halfday-container-sunday">
								<select class="form-control" name="sunday-half">
									<option value="1">morning</option>
									<option value="2">afternoon</option>
								</select>
							</div>

							<div class="row justify-content-between d-none" id="specify-container-sunday">
								<span>from</span>
								<div class="col-md-5">
									<select id="start-hour-sunday" class="form-control" name="start-hour-sunday">
									</select>
								</div>
								<span>to</span>
								<div class="col-md-5">
									<select id="end-hour-sunday" class="form-control" name="end-hour-sunday">
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div>
				<div class="form-group row">
					<div class="col-2">
						<label asp-for="StartDate" class="control-label"></label>
					</div>
					<div class="col-3">
						<input asp-for="StartDate" class="form-control" />
						<span asp-validation-for="StartDate" class="text-danger form-message"></span>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-2">
						<label asp-for="EndDate" class="control-label"></label>
					</div>
					<div class="col-3">
						<input asp-for="EndDate" class="form-control" rules="greaterEqual:#StartDate" />
						<span asp-validation-for="EndDate" class="text-danger form-message"></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-secondary" />
				<input type="reset" value="Reset" class="btn btn-secondary" onclick="resetButton()" />
				<a asp-action="Index" class="btn btn-secondary">Back</a>
			</div>
		</form>
	</div>
</div>
@if (ViewData["Message"] != null)
{
	<div class="alert alert-@ViewData["Status"]" role="alert">
		@ViewData["Message"]
	</div>
}

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	<script src="~/js/Validator.js"></script>
	<script>
		const validator = Validator('#createWorkScheduleForm', '.form-group', '.form-message', 'invalid');
		(() => {
			const startHour = 800;
			const endHour = 1800;
			const duration = document.querySelector('#duration');

			// monday
			const halfdayContainerMonday = document.querySelector('#halfday-container-monday');
			const specifyContainerMonday = document.querySelector('#specify-container-monday');
			const sleStartHourMonday = document.querySelector('#start-hour-monday');
			const sleEndHourMonday = document.querySelector('#end-hour-monday');

			// tuesday
			const halfdayContainerTuesday = document.querySelector('#halfday-container-tuesday');
			const specifyContainerTuesday = document.querySelector('#specify-container-tuesday');
			const sleStartHourTuesday = document.querySelector('#start-hour-tuesday');
			const sleEndHourTuesday = document.querySelector('#end-hour-tuesday');

			// wednesday
			const halfdayContainerWednesday = document.querySelector('#halfday-container-wednesday');
			const specifyContainerWednesday = document.querySelector('#specify-container-wednesday');
			const sleStartHourWednesday = document.querySelector('#start-hour-wednesday');
			const sleEndHourWednesday = document.querySelector('#end-hour-wednesday');

			// thursday
			const halfdayContainerThursday = document.querySelector('#halfday-container-thursday');
			const specifyContainerThursday = document.querySelector('#specify-container-thursday');
			const sleStartHourThursday = document.querySelector('#start-hour-thursday');
			const sleEndHourThursday = document.querySelector('#end-hour-thursday');

			// friday
			const halfdayContainerFriday = document.querySelector('#halfday-container-friday');
			const specifyContainerFriday = document.querySelector('#specify-container-friday');
			const sleStartHourFriday = document.querySelector('#start-hour-friday');
			const sleEndHourFriday = document.querySelector('#end-hour-friday');

			// saturday
			const halfdayContainerSaturday = document.querySelector('#halfday-container-saturday');
			const specifyContainerSaturday = document.querySelector('#specify-container-saturday');
			const sleStartHourSaturday = document.querySelector('#start-hour-saturday');
			const sleEndHourSaturday = document.querySelector('#end-hour-saturday');

			// sunday
			const halfdayContainerSunday = document.querySelector('#halfday-container-sunday');
			const specifyContainerSunday = document.querySelector('#specify-container-sunday');
			const sleStartHourSunday = document.querySelector('#start-hour-sunday');
			const sleEndHourSunday = document.querySelector('#end-hour-sunday');

			// event
			duration.onchange = function (e) {
				const value = e.target.value;
				if (value == "TWS001") {
					// monday
					specifyContainerMonday.classList.add('d-none');
					halfdayContainerMonday.classList.add('d-none');
					// tuesday
					specifyContainerTuesday.classList.add('d-none');
					halfdayContainerTuesday.classList.add('d-none');
					// wednesday
					specifyContainerWednesday.classList.add('d-none');
					halfdayContainerWednesday.classList.add('d-none');
					// thursday
					specifyContainerThursday.classList.add('d-none');
					halfdayContainerThursday.classList.add('d-none');
					// friday
					specifyContainerFriday.classList.add('d-none');
					halfdayContainerFriday.classList.add('d-none');
					// saturday
					specifyContainerSaturday.classList.add('d-none');
					halfdayContainerSaturday.classList.add('d-none');
					// sunday
					specifyContainerSunday.classList.add('d-none');
					halfdayContainerSunday.classList.add('d-none');
				}
				else if (value == "TWS002") {
					// monday
					specifyContainerMonday.classList.add('d-none');
					halfdayContainerMonday.classList.remove('d-none');
					// tuesday
					specifyContainerTuesday.classList.add('d-none');
					halfdayContainerTuesday.classList.remove('d-none');
					// wednesday
					specifyContainerWednesday.classList.add('d-none');
					halfdayContainerWednesday.classList.remove('d-none');
					// thursday
					specifyContainerThursday.classList.add('d-none');
					halfdayContainerThursday.classList.remove('d-none');
					// friday
					specifyContainerFriday.classList.add('d-none');
					halfdayContainerFriday.classList.remove('d-none');
					// saturday
					specifyContainerSaturday.classList.add('d-none');
					halfdayContainerSaturday.classList.remove('d-none');
					// sunday
					specifyContainerSunday.classList.add('d-none');
					halfdayContainerSunday.classList.remove('d-none');
				}
				else if (value == "TWS003") {
					// monday
					specifyContainerMonday.classList.remove('d-none');
					halfdayContainerMonday.classList.add('d-none');
					// tuesday
					specifyContainerTuesday.classList.remove('d-none');
					halfdayContainerTuesday.classList.add('d-none');
					// wednesday
					specifyContainerWednesday.classList.remove('d-none');
					halfdayContainerWednesday.classList.add('d-none');
					// thursday
					specifyContainerThursday.classList.remove('d-none');
					halfdayContainerThursday.classList.add('d-none');
					// friday
					specifyContainerFriday.classList.remove('d-none');
					halfdayContainerFriday.classList.add('d-none');
					// saturday
					specifyContainerSaturday.classList.remove('d-none');
					halfdayContainerSaturday.classList.add('d-none');
					// sunday
					specifyContainerSunday.classList.remove('d-none');
					halfdayContainerSunday.classList.add('d-none');
				}
			}

			// monday
			sleStartHourMonday.onchange = function (e) {
				let number = convertHourToInt(e.target.value);
				number = number % 100 == 30 ? number + 70 : number + 30;
				renderOptions(number, endHour, sleEndHourMonday);
			}
			// tuesday
			sleStartHourTuesday.onchange = function (e) {
				let number = convertHourToInt(e.target.value);
				number = number % 100 == 30 ? number + 70 : number + 30;
				renderOptions(number, endHour, sleEndHourTuesday);
			}
			// wednesday
			sleStartHourWednesday.onchange = function (e) {
				let number = convertHourToInt(e.target.value);
				number = number % 100 == 30 ? number + 70 : number + 30;
				renderOptions(number, endHour, sleEndHourWednesday);
			}
			// thursday
			sleStartHourThursday.onchange = function (e) {
				let number = convertHourToInt(e.target.value);
				number = number % 100 == 30 ? number + 70 : number + 30;
				renderOptions(number, endHour, sleEndHourThursday);
			}
			// friday
			sleStartHourFriday.onchange = function (e) {
				let number = convertHourToInt(e.target.value);
				number = number % 100 == 30 ? number + 70 : number + 30;
				renderOptions(number, endHour, sleEndHourFriday);
			}
			// saturday
			sleStartHourSaturday.onchange = function (e) {
				let number = convertHourToInt(e.target.value);
				number = number % 100 == 30 ? number + 70 : number + 30;
				renderOptions(number, endHour, sleEndHourSaturday);
			}
			// sunday
			sleStartHourSunday.onchange = function (e) {
				let number = convertHourToInt(e.target.value);
				number = number % 100 == 30 ? number + 70 : number + 30;
				renderOptions(number, endHour, sleEndHourSunday);
			}



			// init
			// monday
			renderOptions(startHour, endHour - 30, sleStartHourMonday);
			renderOptions(startHour + 30, endHour, sleEndHourMonday);
			// tuesday
			renderOptions(startHour, endHour - 30, sleStartHourTuesday);
			renderOptions(startHour + 30, endHour, sleEndHourTuesday);
			// wednesday
			renderOptions(startHour, endHour - 30, sleStartHourWednesday);
			renderOptions(startHour + 30, endHour, sleEndHourWednesday);
			// thursday
			renderOptions(startHour, endHour - 30, sleStartHourThursday);
			renderOptions(startHour + 30, endHour, sleEndHourThursday);
			// friday
			renderOptions(startHour, endHour - 30, sleStartHourFriday);
			renderOptions(startHour + 30, endHour, sleEndHourFriday);
			// saturday
			renderOptions(startHour, endHour - 30, sleStartHourSaturday);
			renderOptions(startHour + 30, endHour, sleEndHourSaturday);
			// sunday
			renderOptions(startHour, endHour - 30, sleStartHourSunday);
			renderOptions(startHour + 30, endHour, sleEndHourSunday);


			// function
			function renderOptions(startHour, endHour, selector) {
				selector.innerHTML = '';
				while (startHour <= endHour) {
					let option = document.createElement("option");
					const hour = convertIntToHour(startHour);
					option.value = hour;
					option.text = hour;
					selector.appendChild(option);
					startHour = startHour % 100 == 30 ? startHour + 70 : startHour + 30;
				}
			}

			function convertHourToInt(hour) {
				const tmp = hour.split(':');
				if (tmp.length == 2) {
					let number = tmp[0] + tmp[1];
					return parseInt(number);
				}
			}

			function convertIntToHour(number) {
				let hour = (number / 100).toFixed(0);
				let minute = (number % 100) + '';
				return `${hour}:${minute.padStart(2, '0')}`;
			}

		})();
	</script>



	<script>
		function mondayFunction() {
			var mondayCheckBox = document.getElementById("mondayCheck");
			var mondayText = document.getElementById("mondayText");
			if (mondayCheckBox.checked == true) {
				mondayText.style.display = "block";
			} else {
				mondayText.style.display = "none";
			}
		}

		function tuesdayFunction() {
			var tuesdayCheckBox = document.getElementById("tuesdayCheck");
			var tuesdayText = document.getElementById("tuesdayText");
			if (tuesdayCheckBox.checked == true) {
				tuesdayText.style.display = "block";
			} else {
				tuesdayText.style.display = "none";
			}
		}

		function wednesdayFunction() {
			var wednesdayCheckBox = document.getElementById("wednesdayCheck");
			var wednesdayText = document.getElementById("wednesdayText");
			if (wednesdayCheckBox.checked == true) {
				wednesdayText.style.display = "block";
			} else {
				wednesdayText.style.display = "none";
			}
		}

		function thursdayFunction() {
			var thursdayCheckBox = document.getElementById("thursdayCheck");
			var thursdayText = document.getElementById("thursdayText");
			if (thursdayCheckBox.checked == true) {
				thursdayText.style.display = "block";
			} else {
				thursdayText.style.display = "none";
			}
		}

		function fridayFunction() {
			var fridayCheckBox = document.getElementById("fridayCheck");
			var fridayText = document.getElementById("fridayText");
			if (fridayCheckBox.checked == true) {
				fridayText.style.display = "block";
			} else {
				fridayText.style.display = "none";
			}
		}

		function saturdayFunction() {
			var saturdayCheckBox = document.getElementById("saturdayCheck");
			var saturdayText = document.getElementById("saturdayText");
			if (saturdayCheckBox.checked == true) {
				saturdayText.style.display = "block";
			} else {
				saturdayText.style.display = "none";
			}
		}

		function sundayFunction() {
			var sundayCheckBox = document.getElementById("sundayCheck");
			var sundayText = document.getElementById("sundayText");
			if (sundayCheckBox.checked == true) {
				sundayText.style.display = "block";
			} else {
				sundayText.style.display = "none";
			}
		}

		function resetButton() {
			mondayText.style.display = "none";
			tuesdayText.style.display = "none";
			wednesdayText.style.display = "none";
			thursdayText.style.display = "none";
			fridayText.style.display = "none";
			saturdayText.style.display = "none";
			sundayText.style.display = "none";
		}
	</script>

	@* Reload to list (Index) *@
	@if (ViewData["Message"] != null)
	{
		<script>
		function pageRedirect() {
			window.location.href = '@Url.Action("Index", "WorkSchedules")';
		}
		setTimeout("pageRedirect()", 5000);
		</script>
	}
}