@model TimeKeeping.ViewModels.WorkScheduleModel

@{
	ViewData["Title"] = "Create";
}

<h4>Create a new workSchedule</h4>
<hr />
<div class="row">
	<div class="col-md-12">
		<form asp-action="Create" id="createWorkScheduleForm">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group row">
				<div class="col-2">
					<label asp-for="WorkScheduleId" class="control-label"></label>
				</div>
				<div class="col-5">
					<input asp-for="WorkScheduleId" class="form-control" rules="required" />
					<span asp-validation-for="WorkScheduleId" class="text-danger form-message"></span>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-2">
					<label asp-for="WorkScheduleName" class="control-label"></label>
				</div>
				<div class="col-5">
					<input asp-for="WorkScheduleName" class="form-control" rules="required" />
					<span asp-validation-for="WorkScheduleName" class="text-danger form-message"></span>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-2">
					<label asp-for="TypeWorkScheduleId" class="control-label"></label>
				</div>
				<div class="col-5">
					<select asp-for="TypeWorkScheduleId" class="form-control" asp-items="ViewBag.TypeWorkScheduleId"></select>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-2">
					<label asp-for="CheckinPolicyId" class="control-label"></label>
				</div>
				<div class="col-5">
					<select asp-for="CheckinPolicyId" class="form-control" asp-items="ViewBag.CheckinPolicyId"></select>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-2">
					<label asp-for="NumberOfShiftId" class="control-label"></label>
				</div>
				<div class="col-5">
					<select asp-for="NumberOfShiftId" class="form-control" asp-items="ViewBag.NumberOfShiftId"></select>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-2">
					<label asp-for="Regulations" class="control-label"></label>
				</div>
				<div class="col-5">
					<input asp-for="Regulations" class="form-control" rules="required" />
					<span asp-validation-for="Regulations" class="text-danger form-message"></span>
				</div>
			</div>

			@*@{
			string[] dayOfWeeks = { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"};

			for (int i = 0; i < dayOfWeeks.Length; i++)
			{
					<hr />
					<div class="row">
						<div class="col-2">
							<label>@dayOfWeeks[i]</label>
						</div>
						<div class="col-10">
							<div class="form-group row">
								<div class="col-3">
									<label class="control-label">Type Shift</label>
									<input class="form-control" />
								</div>
								<div class="col-3">
									<label class="control-label">Shift Name</label>
									<input class="form-control" />
								</div>
								<div class="col-3">
									<label class="control-label">Start Time</label>
									<input class="form-control" />
								</div>
								<div class="col-3">
									<label class="control-label">End Time</label>
									<input class="form-control" />
								</div>
							</div>

							<div class="form-group row">
								<div class="col-6">
									<label class="control-label">Day Off</label>
									<input type="checkbox" />
								</div>
								<div class="col-6">
									<label class="control-label">Del</label>
									<input type="checkbox" />
								</div>
							</div>
						</div>
					</div>
			}

		}*@

			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	<script src="~/js/Validator.js"></script>
	<script>
		const validator = Validator('#createWorkScheduleForm', '.form-group', '.form-message', 'invalid');
	</script>
}
