@model TimeKeeping.ViewModels.TimeOffRequestModel

@{
    ViewData["Title"] = "Create Time Off Request";
}

<style>
    label {
        margin-bottom: 0;
    }
</style>
<section class="container">
    <h4 class="font-weight-bold">Create Time Off Request</h4>
    <hr />
    <div class="border-1">
        @if (ViewData["message"] != null)
        {
            <div class="alert alert-@ViewData["status"]" role="alert">
                @ViewData["message"]
            </div>
        }
        <form asp-action="Create" asp-controller="TimeOffRequests" id="createRequestTimeoffForm"
              method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label asp-for="Title" class="font-weight-bold"></label>
                    <br />
                    <small class="text-muted">Title</small>
                </div>
                <div class="col-sm-9">
                    <input asp-for="Title" class="form-control" rules="required" />
                    <span class="text-danger form-message"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label asp-for="FormTimeOffId" class="font-weight-bold"></label>
                    <br />
                    <small class="text-muted">Select time off form</small>
                </div>
                <div class="col-sm-9">
                    <select asp-for="FormTimeOffId" class="form-control" asp-items="ViewBag.FormTimeOffId"></select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label asp-for="Reason" class="font-weight-bold"></label>
                    <br />
                    <small class="text-muted">Your reason</small>
                </div>
                <div class="col-sm-9">
                    <input asp-for="Reason" class="form-control" rules="required" />
                    <span class="text-danger form-message"></span>
                </div>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label font-weight-bold">
                    <input id="cbx-ban-giao" class="form-check-input" asp-for="RequireHandOver" /> @Html.DisplayNameFor(model => model.RequireHandOver)
                </label>
            </div>

            <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label asp-for="HandOverWorks" class="font-weight-bold"></label>
                    <br />
                    <small class="text-muted">Overhand works detail</small>
                </div>
                <div class="col-sm-9">
                    <textarea asp-for="HandOverWorks" class="form-control"></textarea>
                    <br />
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="ManagerId" class="col-sm-3 col-form-label font-weight-bold"></label>
                <div class="col-sm-9">
                    <select asp-for="ManagerId" class="form-control" asp-items="ViewBag.ManagerId"></select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label asp-for="Attachment" class="font-weight-bold"></label>
                    <br />
                    <small class="text-muted">You can upload a attachment</small>
                </div>
                <div class="col-sm-9">
                    <input asp-for="Attachment" type="file" class="form-control" />
                    <br />
                    <span class="text-danger form-message"></span>
                </div>
            </div>

            <p class="text-muted">Setting dayofff *</p>

            <div id="shifts" class="mb-3">
                <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                        <label asp-for="FromDate" class="font-weight-bold"></label>
                        <br />
                        <small class="text-muted">from day off</small>
                    </div>
                    <div class="col-sm-9">
                        <input asp-for="FromDate" class="form-control" rules="required" />
                        <span class="text-danger form-message"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                        <label asp-for="ToDate" class="font-weight-bold"></label>
                        <br />
                        <small class="text-muted">to day off</small>
                    </div>
                    <div class="col-sm-9">
                        <input asp-for="ToDate" class="form-control" rules="greaterEqual:#FromDate|required" />
                        <span class="text-danger form-message"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                        <label asp-for="Duration" class="font-weight-bold"></label>
                        <br />
                        <small class="text-muted">to day off</small>
                    </div>
                    <div class="col-sm-9 row justify-content-between">
                        <div class="col-md-5">
                            <select asp-for="Duration" class="form-control" id="duration">
                                <option value="1">full day</option>
                                <option value="2">half day</option>
                                <option value="3">specify time</option>
                            </select>
                        </div>
                        <div class="col-md-5 d-none" id="halfday-container">

                            <select asp-for="HalfDay" class="form-control">
                                <option value="1">morning</option>
                                <option value="2">afternoon</option>
                            </select>
                        </div>

                        <div class="col-md-5 row justify-content-between d-none" id="specify-container">
                            <span>from</span>
                            <div class="col-md-5">
                                <select asp-for="FromHour" id="start-hour" class="form-control">
                                </select>
                            </div>
                            <span>to</span>
                            <div class="col-md-5">
                                <select asp-for="ToHour" id="end-hour" class="form-control">
                                </select>
                            </div>
                        </div>
                        <br />
                        <span class="text-danger form-message"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center my-3">
                <div class="col-3">
                    <a asp-action="Create" class="btn btn-block btn-secondary">Reset</a>
                </div>
                <div class="col-3">
                    <input type="submit" class="btn btn-success btn-block" value="Send" />
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Validator.js"></script>
    <script>
        const validator = Validator('#createRequestTimeoffForm', '.form-group', '.form-message', 'invalid');
        (() => {
            const startHour = 800;
            const endHour = 1800;
            const sleStartHour = document.querySelector('#start-hour');
            const sleEndHour = document.querySelector('#end-hour');
            const duration = document.querySelector('#duration');
            const specifyContainer = document.querySelector('#specify-container');
            const halfdayContainer = document.querySelector('#halfday-container');

            // event
            sleStartHour.onchange = function (e) {
                let number = convertHourToInt(e.target.value);
                number = number % 100 == 30 ? number + 70 : number + 30;
                renderOptions(number, endHour, sleEndHour);
            }

            duration.onchange = function (e) {
                const value = e.target.value;
                if (value == 1) {
                    specifyContainer.classList.add('d-none');
                    halfdayContainer.classList.add('d-none');
                }
                else if (value == 2) {
                    specifyContainer.classList.add('d-none');
                    halfdayContainer.classList.remove('d-none');
                }
                else if (value == 3) {
                    specifyContainer.classList.remove('d-none');
                    halfdayContainer.classList.add('d-none');
                }
            }


            // init
            renderOptions(startHour, endHour - 30, sleStartHour);
            renderOptions(startHour + 30, endHour, sleEndHour);


            // function
            function renderOptions(startHour, endHour, selector) {
                selector.innerHTML = '';
                while (startHour <= endHour) {
                    let option = document.createElement("option");
                    const hour = convertIntToHour(startHour);
                    option.value = hour;
                    option.text = hour;
                    selector.appendChild(option);
                    startHour = startHour % 100 == 30 ? startHour + 70 : startHour + 30;
                }
            }

            function convertHourToInt(hour) {
                const tmp = hour.split(':');
                if (tmp.length == 2) {
                    let number = tmp[0] + tmp[1];
                    return parseInt(number);
                }               
            }

            function convertIntToHour(number) {
                let hour = (number / 100).toFixed(0);
                let minute = (number % 100) + '';
                return `${hour}:${minute.padStart(2,'0')}`;
            }          
        })();
    </script>
}
