@model IEnumerable<CreateRequestTimeoffForm_Version1.Models.FormTimeOff>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a onclick="showInPopup('@Url.Action("AddOrEdit","FormTimeOffs",null,Context.Request.Scheme)','Create A Loose Pattern')" class="btn btn-success">Create New</a>
</p>
<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>

