@{
    ViewData["Title"] = "Overview Time Sheet";
}

<div class="banner"></div>

<div id="time-sheet-overview" class="my-3">
    <div class="time-sheet-container row mx-0 justify-content-between">
        <div class="col-2 p-0 px-2 pb-4">
            <input type="text" name="key-work" class="form-control mb-3" style="height:3rem;" />
            <div id="employees-container">
                <div class="row border border-secondary border rounded mx-0 px-2" style="font-size:0.8rem; max-height:3rem;">
                    <div class="col-8">
                        <p class="font-weight-bold employee-name mb-1"></p>
                        <p class="text-muted employee-code mb-1"></p>
                    </div>
                    <div class="col-4 px-2" style="border-left: 1px solid #6c757d;">
                        <p class="mb-1">D: <strong class="days"></strong></p>
                        <p class="mb-1">H: <strong class="hours"></strong></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-10" style="overflow-x: scroll; font-size:0.8rem;">
            <div class="d-flex" id="day-of-week">
            </div>
            <div class="d-flex mt-3 text-center">
                <div class="border border-secondary card bg-white" style="max-height:3rem;min-height:3rem; max-width:5rem; min-width:5rem;">
                    @* Co the thay doi theo tin trang check in - out *@
                    <p class="text-muted check-in mb-0">19:00</p>
                    <div class="d-flex justify-content-center"><div class="w-50"><hr class="m-0" /></div></div>
                    <p class="text-muted check-out mb-0">20:00</p>
                </div>
            </div>
        </div>
        
    </div>
</div>

@* template timesheet title *@
<template id="time-sheet-date-title">
    <div style="min-width: 5rem; max-height:3rem;" class="p-1 card mr-1 bg-light">
        <p class="time-sheet-date font-weight-bold text-primary text-center mb-0"></p>
        <p class="text-center date-name mb-0 text-muted"></p>
    </div>
</template>


@* template employee *@
<template id="employee-item">
    <div class="row border border-secondary mx-0 px-2 card bg-white" style="max-height:4rem;">
        <div class="col-8">
            <p class="font-weight-bold employee-name mb-0"></p>
            <p class="text-muted employee-code mb-0"></p>
        </div>
        <div class="col-4 px-2" style="border-left: 1px solid #6c757d;">
            <p class="mb-1">D: <strong class="days"></strong></p>
            <p class="mb-1">H: <strong class="hours"></strong></p>
        </div>
    </div>
</template>

@* template work *@
<template>
    <div class="row border border-secondary mx-0 px-2 card bg-white" style="max-height:4rem; max-width:5rem; min-width:5rem;">
        @* Co the thay doi theo tin trang check in - out *@
        <p class="text-muted check-in mb-0"></p>
        <div><div class="w-50"><hr /></div></div>
        <p class="text-muted check-out mb-0"></p>
    </div>
</template>

@section Scripts{
    <script>
        (() => {
            const json = @Html.Raw(ViewData["days"]);
            const dayTitleContainer = document.querySelector('#day-of-week');
            renderDayOfWeekTitle(json, dayTitleContainer);


            // function
            function renderDayOfWeekTitle(data, container) {
                const DOW = data;
                if (Array.isArray(DOW)) {
                    DOW.forEach(e => {
                        const tmp = document.querySelector('#time-sheet-date-title').content.cloneNode(true);
                        tmp.querySelector('.time-sheet-date').innerHTML = `${e.Day} / ${e.Month}`;
                        tmp.querySelector('.date-name').innerHTML = `${e.DayName}`;
                        container.appendChild(tmp);
                    });
                }
            }

            function renderPersonAndWork(data, personContainer, workContainer) {

            }

        })();
    </script>
}

